<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>317768110577-oh109kh25h0ovag2k59n7hodjk6clpf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317768110577-oh109kh25h0ovag2k59n7hodjk6clpf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzBMXSIpFR-ukbyIFXcKrcSdJ6-3zniwI</string>
	<key>GCM_SENDER_ID</key>
	<string>317768110577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centermatwrestling.app</string>
	<key>PROJECT_ID</key>
	<string>axial-reference-542</string>
	<key>STORAGE_BUCKET</key>
	<string>axial-reference-542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317768110577:ios:92239bf3420fe21f</string>
	<key>DATABASE_URL</key>
	<string>https://axial-reference-542.firebaseio.com</string>
</dict>
</plist>